{% extends "personal/form.html" %} 
{% load static %} 


{% block card-body %}

	
		{% csrf_token %}
		<input type="hidden" name="action" value= "{{ action }}">
		
		<div class="row ">
			{% for field in form.visible_fields %}
			
				<div class="form-group">
					<label for="formGroupExampleInput">{{ field.label }}</label> {{ field }}
				</div>
			
			
			{% endfor %}
		</div>
			
		
		
		
{% endblock %}
{% block card-footer %}
<input type="submit" class="btn btn-primary mb-2 btn-pers" value="Guardar Registro">
{% endblock %}
		