{% extends "personal/base.html" %} 
{%load static %}


{% block contenido %}

<div class="container container-data  d-flex align-items-center flex-column">
    <div class="col-12">
        <h1 class="titulo">
            <center>Cobro</center>
        </h1>
        <div class="card">
            <div class="card-header">
                <form method="get" action="{% url 'predial:pagoC_add' %}">
                    <div class="card-tools">
                        <div class="input-group-append">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Clave Catastral</label> 
                                <input type="text" class="form-control" name="query" >
                                <button type="submit" class="btn btn-primary" id="Buscar">Buscar</button>
                            </div>  
                        </div>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</div>
{% endblock %}



