{% extends "personal/base.html" %} {%load static%} {% block contenido %}
<!-- Masthead-->

<div class="container container-data  d-flex align-items-center flex-column">
    <div class="col-12">
        <h1 class="titulo">
            <center>{{ entity }}</center>
        </h1>

        <div class="card">
            <div class="card-header">

                <div class="card-tools">
                    <div class="input-group-append">
                        {% if perms.predial.add_contribuyente %}
                        <a href="{{ create_url }}"><button class="btn btn-agregar btnTest">Agregar Contribuyente</button></a>
                        {% else %}
                        {% endif %}

                    </div>

                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap" id="example1">
                    <thead>
                        <tr>

                            
                            <th>RFC</th>
                            <th>NOMBRE</th>
                            <th>APELIIDO PATERNO</th>
                            <th>APELLIDO MATERNO</th>


                            
                            <th>ACCIONES</th>
                            

                           
                           
                           

                        </tr>
                    </thead>
                    <tbody>
                        {% for c in object_list %}
                        <tr>
                            
                            <td> {{ c.rfc}} </td>
                            <td> {{ c.name}} </td>
                            <td> {{ c.ap}} </td>
                            <td> {{ c.am}} </td>
                            <td>
                                
                                {% if perms.predial.change_contribuyente %}
                                    <a href="{% url 'predial:contribuyente_edit' c.id %} "><button class="btn btn-secondary btnTest">Editar</button></a>
                                {% else %}
                                    
                                {% endif %}
                                
                                {% if perms.predial.delete_contribuyente %}
                                    <a href="{% url 'predial:contribuyente_delete' c.id %} "><button class="btn btn-danger btnTest">Eliminar</button></a>
                                {% else %}

                                {% endif %}
                            </td>
                            
                                
                                
            
                                   
                                    
                                
                                    
                            
                            

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>





</div>






{% endblock %} {% block javascript %}

<script type="application/javascript">
    $(function() {
        $('.btnTest').on('click', function() {
            $.ajax({
                url: '{% url '
                predial: contribuyente_list '%}',
                type: 'POST',
                data: {
                    id: 1
                },
                dataType: 'json'
            }).done(function(data) {
                console.log(data)
            }).fail(function(data) {
                alert("error");
            }).always(function(data) {

            })
        });

    });
</script>

{% endblock %}